<div class="container">
    <div class="form-title">
        <h1>Bank Information</h1>
        <p>Please provide your bank details below.</p>
    </div>
    <form id="bankForm">
        <div class="form-section">
            <h2>Bank Account - Taxpayer</h2>
            <div class="form-group">
                <label>Should a bank account be registered for the taxpayer?</label>
                <input type="radio" id="register-bank-yes" name="register-bank" value="yes">
                <label for="register-bank-yes">Yes</label>
                <input type="radio" id="register-bank-no" name="register-bank" value="no">
                <label for="register-bank-no">No</label>
            </div>
            <div class="form-group">
                <label>Is the taxpayer the account holder?</label>
                <input type="radio" id="account-holder-yes" name="account-holder" value="yes">
                <label for="account-holder-yes">Yes</label>
                <input type="radio" id="account-holder-no" name="account-holder" value="no">
                <label for="account-holder-no">No</label>
            </div>
            <div class="form-group">
                <label for="iban">IBAN *</label>
                <input type="text" id="iban" name="iban" required>
            </div>
        </div>

        <div class="form-group">
            <input type="button" value="Cancel" id="cancel-bank-info">
            <input type="button" value="Proceed to Tax Information" id="proceed-to-tax">
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        $('#bankForm').submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/submit-bank',
                data: $(this).serialize(),
                success: function(response) {
                    alert('Bank form submitted successfully!');
                },
                error: function(error) {
                    alert('Error submitting bank form');
                }
            });
        });

        $('#cancel-bank-info').click(function() {
            $('#dynamic-content').addClass('hidden');
            $('#mainContainer').show();
        });

        $('#proceed-to-tax').click(function() {
            $('#dynamic-content').load('/tax');
        });
    });
</script>
